# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test / coverage artifacts
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Build / distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

#env
.env
.env/